* {
    font-family: "Open Sans";
}

body {
    background-color: whitesmoke;
}

#search_container {
    display: flex;
    justify-content: center;
    margin: 16px 0px 16px 0px;
}

#search_bar {
    padding-left: 8px;
    width: 256px;
    background-color: #e7e7e7;
    color: black;
    border: none;
    display: inline-block;
    font-size: 16px;
}

#btn_back {
    margin: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 80px;
    background-color: #b3b3b3;
    border: none;
    color: black;
    text-align: center center;
    display: inline-block;
    font-size: 16px;
	transition: background-color 0.25s, color 0.25s
}

.btn:hover {
    background-color: #969696;
    color: white;
}

#content {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    row-gap: 16px;
}